{% extends 'base-front.html.twig' %}


{% block body %}

   <main id="main" class="main">
		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<h1>Liste des randonnee</h1>
					<div class="col-12">
						<div class="card">
							<div class="card-body">

    <hr>
    <div class="row">
        {% for randonnee in randonnees %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img class="card-img-top" src="{{ randonnee.imagesr }}" alt="{{ randonnee.nom }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ randonnee.nom }}</h5>
                        <h5>{{ randonnee.dateRand ? randonnee.dateRand|date('Y-m-d') : '' }}</h5>
                        <h5>{{ randonnee.lieux }}</h5>
                        <h5>{{ randonnee.prix }}</h5>
                        <h5>{{ randonnee.niveauDiff }}</h5>
                        <h5>{{ randonnee.nbrPlacer }}</h5>
                        <p class="card-text">{{ randonnee.programme }}</p>
                        {% if averageRating > 0 %}
                         <p>Average rating: {{ averageRating }}.</p>
                         {% else %}
                        <p>N'est pas encore été noté.</p> 
                        
                        <form method="post" action="{{ path('app_Rating_ratera', {'id': randonnee.idRandonnee}) }}">
                        
                                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.rating) }}<i class="bi bi-star-fill"></i>
                            {{ form_errors(form.rating) }}
                    </div>
                {{ form_end(form) }}

                    </form>
                        {% endif %}
                        <a href="{{ path('app_Rating_ratera', {'id': randonnee.idRandonnee}) }}" class="btn btn-primary">Rate this Randonnee</a>
                        <a href="{{ path('app_participation_new', {'id': randonnee.idRandonnee}) }}" class="btn btn-primary">Participer</a>
                        
                        <form action="{{ path('favorite_randonnee', {'id': randonnee.idRandonnee}) }}" method="POST">
                <input type="hidden" name="_token" value="{{ csrf_token('favorite_randonnee' ~ randonnee.idRandonnee) }}">
                <button type="submit">Add to favorites</button>
            </form>
            
            
                    </div>
                </div>
            </div>
        
      {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
    </div>
    </div>
					</div>
				</div>
			</div>
		</section>

	</main>
{% endblock %}
