{% extends 'base-admin.html.twig' %}

{% block title %}Randonnee {% endblock %}

{% block body %}
    
<main id="main" class="main">
		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<h1>Randonnee </h1>
					<div class="col-12">
						<div class="card">
							<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Lieux</th>
                <th>Prix</th>
                <th>Niveau</th>
                <th>Programme</th>
                <th>Place</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for randonnee in randonnees %}
            <tr>
                <td>{{ randonnee.nom }}</td>
                <td>{{ randonnee.dateRand ? randonnee.dateRand|date('Y-m-d') : '' }}</td>
                <td>{{ randonnee.lieux }}</td>
                <td>{{ randonnee.prix }}</td>
                <td>{{ randonnee.niveauDiff }}</td>
                <td>{{ randonnee.programme }}</td>
                <td>{{ randonnee.nbrPlacer }}</td>
                <td>
                    <a href="{{ path('app_randonnee_show', {'idRandonnee': randonnee.idRandonnee}) }}">show</a>
                    <a href="{{ path('app_randonnee_edit', {'idRandonnee': randonnee.idRandonnee}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_randonnee_new') }}">Create new</a>
    </div>
					</div>
				</div>
			</div>
		</section>

	</main>
{% endblock %}
