{% extends 'base-admin.html.twig' %}

{% block title %}Randonnee{% endblock %}

{% block body %}
 <main id="main" class="main">
		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<h1> Randonnee</h1>

					<div class="col-12">
						<div class="card">
							<div class="card-body">
    <table class="table">
        <tbody>
            <tr>
                <th>IdRandonnee</th>
                <td>{{ randonnee.idRandonnee }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ randonnee.nom }}</td>
            </tr>
            <tr>
                <th>DateRand</th>
                <td>{{ randonnee.dateRand ? randonnee.dateRand|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Lieux</th>
                <td>{{ randonnee.lieux }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ randonnee.prix }}</td>
            </tr>
            <tr>
                <th>NiveauDiff</th>
                <td>{{ randonnee.niveauDiff }}</td>
            </tr>
            <tr>
                <th>Programme</th>
                <td>{{ randonnee.programme }}</td>
            </tr>
            <tr>
                <th>Imagesr</th>
                 <td><img class="card-img-top" src="{{ randonnee.imagesr }}" ></td>
            </tr>
            <tr>
                <th>NbrPlacer</th>
                <td>{{ randonnee.nbrPlacer }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_randonnee_index') }}">back to list</a>

    <a href="{{ path('app_randonnee_edit', {'idRandonnee': randonnee.idRandonnee}) }}">edit</a>

    {{ include('randonnee/_delete_form.html.twig') }}
    </div>
				</div>
			</div>
		</section>

	</main>
{% endblock %}
