
{% extends 'base-front1.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}
{% block Museum %}
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>

    <script type="text/javascript">
        window.onload = function() {
            L.mapquest.key = 'eXp9wRtoKlG1COwGgDy3TWPUHMm6GwGL';

            var map = L.mapquest.map('map', {
                center: [0, 0],
                layers: L.mapquest.tileLayer('map'),
                zoom: 14
            });

            L.mapquest.geocoding().geocode('{{ museum.paysMuseum}}');
        }
    </script>


    <div class="content-body">
        <section class="page-section pt-0 pb-50">
            <div class="container">
                <div class="menu-widget with-switch mt-30 mb-30">
                    <ul class="magic-line">
                        <li class="current_item"><a href="#overview" class="scrollto">Overview</a></li>
                        <li><a href="#location" class="scrollto">Location</a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div id="flex-slider" class="flexslider">
                    <ul class="slides">



                    </ul>
                </div>
                <div id="flex-carousel" class="flexslider">
                    <ul class="slides">


                    </ul>
                </div>
            </div>
            <div class="container mt-30">
                <h4 class="mb-20">{{ museum.nomMuseum }}</h4>
                <div class="row">
                    <div class="col-md-8">
                        <p class="mb-15">{{ museum.description|raw }}</p>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-gray-3 p-30-40">
                            <ul class="style-1 mb-0">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- section prices-->
                <div class="room-table">
                    <div style="display:flex;justify-content:space-around;margin-top: 10px;">
                        <a href="{{ path('reservationNew', {'id': museum.idMuseum}) }}" class="cws-button alt " style="width: 20vw;">Book now </a>
                    </div>
                </div>

            <!-- section location-->
            <div id="location" class="container mb-50">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="trans-uppercase mb-10">Location</h4>
                        <div class="cws_divider mb-30"></div>
                        <div id="map" style="width: 100%; height: 530px;"></div>
                        <ul class="icon inline mt-20">
                            <li> <a href="#">{{ museum.paysMuseum}}<i class="flaticon-suntour-map"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </section>
    </div>
{% endblock %}