{% extends 'base-front.html.twig' %}

{% block title %}New Participation{% endblock %}
{% block body %}
<main id="main" class="main">
		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<h1>Liste des campings</h1>
					<div class="col-12">
						<div class="card">
							<div class="card-body">

    <hr>
    <div class="row">
          
    
 
       {% for result in results %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img class="card-img-top" src="{{ result.camping.imagec }}" alt="{{ result.camping.nom }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ result.camping.nom }}</h5>
                        <h5>{{result.camping.dateDebut ? result.camping.dateDebut|date('Y-m-d') : ''}}</h5>
                        <h5>{{result.camping.dateFin ? result.camping.dateFin|date('Y-m-d') : '' }}</h5>
                        <h5>{{ result.camping.periode }}</h5>
                        <h5>{{ result.camping.prix }}</h5>
                        <h5>{{ result.camping.lieux }}</h5>
                        <p class="card-text">{{ result.camping.description }}</p>
                            {% for rating in result.camping.ratings %}

                                {% if rating.rating > 0 %}
                                    <p>Average rating: {{ rating.rating }}.</p>
                                    {% else %}
                                        <p>N'est pas encore été noté.</p>
                                        <!-- debugging statement -->
                                        <form method="post" action="{{ path('app_Rating_rate', {'id': result.camping.idCamping}) }}">
                                                    {{ form_start(form) }}
                                        <div class="form-group">
                                        {{ form_label(form.rating) }}<i class="bi bi-star-fill"></i>
                                            {{ form_errors(form.rating) }}
                                        </div>
                                        {{ form_end(form) }}
                                        </form>
                                {% endif %}

                            {% endfor %}
                        <a href="{{ path('app_Rating_rate', {'id': result.camping.idCamping}) }}" class="btn btn-primary">Rate this camping</a>
                        <a href="{{ path('app_participation_new', {'id': result.camping.idCamping}) }}" class="btn btn-primary">Participer</a>
                        
            
            <form action="{{ path('favorite_camping', {'id': result.camping.idCamping}) }}" method="POST">
                <input type="hidden" name="_token" value="{{ csrf_token('favorite_camping' ~ result.camping.idCamping) }}">
                <button type="submit">Add to favorites</button>
            </form>
      
                    </div>
                </div>
            </div>
        
            {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
    </div>
    </div>
					</div>
				</div>
			</div>
		</section>

	</main>
{% endblock %}
