{% extends 'base-admin.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
<main id="main" class="main">
		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<h1>Publication</h1>

					<div class="col-12">
						<div class="card">
							<div class="card-body">
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdEvent</th>
                <td>{{ evenement.idEvent }}</td>
            </tr>
            <tr>
                <th>TitreEvent</th>
                <td>{{ evenement.titreEvent }}</td>
            </tr>
            <tr>
                <th>DateDebutEvent</th>
                <td>{{ evenement.dateDebutEvent ? evenement.dateDebutEvent|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateFinEvent</th>
                <td>{{ evenement.dateFinEvent ? evenement.dateFinEvent|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>PrixEvent</th>
                <td>{{ evenement.prixEvent }}</td>
            </tr>
            <tr>
                <th>LieuEvent</th>
                <td>{{ evenement.lieuEvent }}</td>
            </tr>
            <tr>
                <th>DescEvent</th>
                <td>{{ evenement.descEvent }}</td>
            </tr>
            <tr>
                <th>ImageEvent</th>
                <td>{{ evenement.imageEvent }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_evenement_admin_index') }}" > back to list</a>

    <a  class="btn btn-primary" href="{{ path('app_evenement_admin_edit', {'idEvent': evenement.idEvent}) }}">edit</a>

    {{ include('evenement_admin/_delete_form.html.twig') }}

    </div>
					</div>
				</div>
			</div>
		</section>

	</main>
{% endblock %}
