{% extends 'base-admin.html.twig' %}
{% block body %}
    <main id="main" class="main">
        <section class="section">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">Ajouter un Utilisateur</h1>
                            {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

                            <table class="table">
                            <tr>
                                    <td>
                                        {{ form_label(form.nom_utilisateur,"Nom : ") }}
                                    </td><td>
                                        {{ form_widget(form.nom_utilisateur) }}
                                    </td>
                                    <td>{{ form_errors(form.nom_utilisateur) }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.prenom_utilisateur,"Prenom : ") }}
                                    </td><td>
                                        {{ form_widget(form.prenom_utilisateur) }}
                                    </td>
                                    <td>{{ form_errors(form.prenom_utilisateur) }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.email_utilisateur,"Email : ") }}
                                    </td><td>
                                        {{ form_widget(form.email_utilisateur) }}
                                    </td>
                                    <td>{% if app.session.flashBag.has('badmail') %}
                                            <div class="alert alert-danger">
                                                {% for msg in app.session.flashBag.get('badmail') %}
                                                    {{ msg }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}</td>
                                    <td>{% if app.session.flashBag.has('badmailformat') %}
                                            <div class="alert alert-danger">
                                                {% for msg in app.session.flashBag.get('badmailformat') %}
                                                    {{ msg }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}</td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.login_utilisateur,"login : ") }}
                                    </td><td>
                                        {{ form_widget(form.login_utilisateur) }}
                                    </td>
                                    <td>   {% if app.session.flashBag.has('badlogin') %}
                                            <div class="alert alert-danger">
                                                {% for msg in app.session.flashBag.get('badlogin') %}
                                                    {{ msg }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.mdp_utilisateur,"Mot de passe : ") }}
                                    </td><td>
                                        {{ form_widget(form.mdp_utilisateur) }}
                                    </td>
                                    <td>{{ form_errors(form.mdp_utilisateur) }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.my_file,"Image : ") }}
                                    </td><td>
                                        {{ form_widget(form.my_file) }}
                                    </td>
                                    <td>{{ form_errors(form.my_file) }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.telephone_utilisateur,"Numero de telephone : ") }}
                                    </td><td>
                                        {{ form_widget(form.telephone_utilisateur) }}
                                    </td>
                                    <td>{{ form_errors(form.telephone_utilisateur) }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.adresse_utilisateur,"Adresse Postale : ") }}
                                    </td><td>
                                        {{ form_widget(form.adresse_utilisateur) }}
                                    </td>
                                    <td>{{ form_errors(form.adresse_utilisateur) }}</td>
                                </tr>
                            </table>
                            {{ form_end(form) }}
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main><!-- End #main -->
{% endblock %}



