<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Participation</title>
      <style>
        /* styles pour le contenu principal */
        .container {
            margin: 0 auto;
            display: block;
            width: 80%;
            font-family: Arial, sans-serif;
        }
        
        .section {
            margin-bottom: 20px;
        }
        .section-header {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #FF0000; /* rouge */
        }

        .section-content {
        margin-top: 20px;
        }

        .section-content div {
        margin-bottom: 10px;
        }

        .section-content span {
        font-weight: bold;
        margin-right: 10px;
        }
        /* styles pour le header */
        .header {
            text-align: center;
            background-color: #F0F0F0;
            padding: 20px;
            margin-bottom: 20px;
        }
        .header-title {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .header-subtitle {
            font-size: 24px;
            font-style: italic;
            margin-bottom: 10px;
        }
        /* styles pour le footer */
        .footer {
            text-align: center;
            font-size: 12px;
            margin-top: 50px;
        }
    </style>
</head>
<body>
<div class="header">
        <div class="header-title">Participation</div>
        <div class="header-subtitle">Client</div>
    </div>
    <div style="margin: 0 auto;display: block;width: 500px;">
            <div class="container">
        <!-- Section Information personnelle -->
        <div class="section">
            <div class="section-header">Information du Participation</div>
            <div class="section-content">
            
               <div>
               <span> Nom : </span>
                {{ camping.nom }}
                </div>
                <div>
               <span>DateDebut  :</span>
                {{ camping.dateDebut ? camping.dateDebut|date('Y-m-d') : '' }}
                </div>
                <div>
               <span>DateFin : </span>
                {{ camping.dateFin ? camping.dateFin|date('Y-m-d') : '' }}
                </div>
                <div>
               <span>Periode : </span>
                {{ camping.periode }}
                </div>          
                <div>
               <span>Prix : </span>
                {{ camping.prix }}<span> DT </span>
            </div>    
            <div>
               <span>Lieux : </span>
                {{ camping.lieux }}
                </div>
                <div>
                <span> </span>
                </div>
                <div>
               <span>Description : </span>
                </div>
                <div>
               <span> </span>
                {{ camping.description }}
                </div>
                
                <div>
                <span> </span>
                </div>
                <div></div>
                <div>
                <span> </span>
                </div>
                <div>
               <span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span>
                <img class="card-img-top"  src="{{imageSrc}}" > 
        </div>
        </div>
        </div>
    </div>
</body>
</html>